/* File custom-dark.css */
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --bs-body-bg: rgb(255, 255, 246);
  font-family: "Space Mono", monospace !important;
  line-height: 1.5;
  font-weight: 400;
}

:root[data-theme="dark"] {
  --bs-body-bg: #111111;
  --bs-secondary-bg: #0b0b0b;
  --bs-tertiary-bg: #0b0b0b;

  /* Nếu muốn mấy viền tối hơn theo tông */
  --bs-border-color: #222222;

  /* Màu chữ tùy mày muốn chỉnh */
  --bs-body-color: #e0e0e0;

  --bs-primary: #f99619; /* Cam cháy */
  --bs-primary-rgb: 249, 150, 25;
  --bs-success: #19d65d; /* Xanh lá */
  --bs-success-rgb: 25, 214, 93;
  --bs-gray-700: #383838; /* Nền hover cho nav */
}

.form-control:focus {
  border-color: #000 !important;
  box-shadow: 0 0 5px black !important;
}
