@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  font-family: "Space Mono", monospace !important;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --navbar-height: 86px;
  --real-height: calc(100vh - var(--navbar-height));
}

body {
  font-family: "Space Mono", monospace !important;
  line-height: 1.5;
  font-weight: 400;
}
